@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
body{
  background: #ddd;
}
.container-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.4);
  border-radius: 8px;
}
.bg{
  height: 100%;
  width: 375px;
  background-color: red;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.selectors{
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  z-index: 0;
  border-radius: 8px;
}
.range{
  height: 65px;
  width: max-content;
  background: #fff;
  /* padding: 0 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.field{
  display: flex;
  justify-content: center;
  align-items: center;
}
.field .value{
  width: 100px;
}
.range input{
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
  border: none;
  z-index: 2222;
}
.range input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #19334d;
  border-radius: 50%;
  background: #19334d;
  border: 1px solid #19334d;
  cursor: pointer;
}
.range input::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #19334d;
  border: 1px solid #19334d;
  cursor: pointer;
}
.range input::-moz-range-progress{
  background: #19334d;
}
.pickers{
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 150px;
  /* padding: 20px 40px; */
  width: 95%;
  background-color: white;
}
.display{
  height: 150px;
  width: 100%;
}
input[type = "number"]{
  outline: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 7px;
  border: 1px solid black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#angleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.color{
  height: 50px;
  width: 50px;
  border-radius: 7px;
  background-color: black;
  transition: 0.4s transform;
  border: 1px solid black;
}
.active{
  background-color: rgba(136, 136, 223, 0.3);
  border-radius: 7px;
}
.parent{
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}
.color .active{
  opacity: 1;
  background-color: black;
}
textarea{
  width: 90%;
  height: 60px;
  resize: none;
  outline: none;
  border-radius: 8px;
  padding: 10px;
}
button{
  background-color: hsl(120, 40%, 55%);
  border: none;
  outline: none;
  padding: 4px 10px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  transition: 0.4s;
  margin-top: 10px;
  cursor: pointer;
}
.copy:hover{
  transform: scale(1.04, 1.04);
}
textarea::-webkit-scrollbar{
  width: 0px;
}
.type{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-text{
  margin: 0 15px;
}
.prompt{
  padding: 20px;
  height: 125px;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
  border-radius: 7px;
  display: none;
}
.promptHeader{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.prompt input{
  padding: 3px 10px;
  border-radius: 6px;
  outline: none;
  border: 1px solid rgb(204, 194, 194);
  text-transform: capitalize;
  font-size: 12px !important;
  width: 200px;
  height: 33px;
}
.prompt button{
  height: 33px;
}
.bi{
  cursor: pointer;
}
.bi-x-lg{
  cursor: pointer;
}
.overlay{
  display: none;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.alert{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: white;
  width: 90vw;
  height: 5%;
  z-index: 1000;
}
.presets{
  padding: 15px 30px;
  padding-top: 0;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 300px;
  width: 500px;
  overflow-y: scroll;
  display: none;
  border-radius: 8px;
}
.presets::-webkit-scrollbar{
  width: 0px;
}
.preset-container{
  padding: 10px 0;
}
.presetId{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(196, 196, 196);
}
.presetName, .presetBox{
  cursor: pointer;
}
.presetBox{
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.presets .promptHeader{
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px 0;
  background-color: white;
}
.switch input {
  position: absolute;
  opacity: 0;
}
.switch {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  cursor: pointer;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}
.hide{
  position: fixed;
  top: 3%;
  margin: 0;
  left: 5%;
  transform: translate(-50%, 0%);
}
.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
.list{
  color: white;
  position: relative;
  top: 3%;
  left: -41%;
}
.list:hover{
  transform: scale(1.05, 1.05);
  color: #FF007F;
}
.slideUp{
  animation: slideUp 0.5s forwards;
}
.slideDown{
  animation: slideDown 0.5s forwards;
}
@keyframes slideDown {
  0%{
    top: -5%;
    opacity: 0;
  }
  100%{
    top: 3%;
    opacity: 1;
  }
}
@keyframes slideUp {
  0%{
    top: 3%;
    opacity: 1;
  }
  100%{
    top: -5%;
    opacity: 0;
  }
}
#canvas{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1000;
}
.cover{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -500;
  background-color: #ddd;
}
.button-group{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#download{
  height: 240px;
  width: 450px;
}
#download select{
  outline: none;
  border-radius: 5px;
  width: 120px;
  text-align: center;
  margin-top: 10px;
}
#download button{
  margin-top: 20px;
}
#download input{
  padding: 3px 10px;
  border-radius: 6px;
  outline: none;
  border: 1px solid rgb(204, 194, 194);
  text-transform: capitalize;
  font-size: 12px !important;
  width: 200px;
  height: 33px;
}
#download .section{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#download .section p{
  font-weight: bold;
}
#fileName{
  margin-top: 20px;
}